<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p>User Description: <%= @user.description %></p>
<p>About <%= @user.first_name %>: <%= @user.about %></p>

<% if @user.id == session[:user_id] %>
<form action='/users/<%= @user.id %>/edit'>
    <button value='submit' class="btn btn-default">Edit Profile</button>
</form>
<% end %>

<h3>Attending Events</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Event Title</th>
        <th>Event Description</th>
        <th>Seats</th>
        <th>Attendees</th>
        <th>Event Time</th>
        <th>Location</th>
        <th>Status</th>
        <th>Actions</th>
        
      </tr>
    </thead>
    <tbody>
    <% @events.each do |event| %>
        <tr>
            <td><a href="/events/<%= event.id %>"><%= event.title %></a></td>
            <td><%= event.description %></td>
            <td><%= event.accepted_count %>/<%= event.seats %> seats filled</td>
            <td>
                <% event.accepted_list.each do |user| %>
                    <a href='/users/<%= user.id %>'><%= user.username %></a> 
                <% end %>
            </td>
            <td><%= event.date.strftime('%D') %> <%= event.time.strftime('%l:%m %p') %></td>
            <td>
                
                <%= event.city %>, <%= event.state %>
            </td>
            <td>
                <% if event.pending_user(@user) %>
                Pending
                <% elsif event.accepted_user(@user) %>
                Accepted
                <% else %>

                <% end %>
            </td>
            <td>
            <% if event.user == @user %>
                    <a href="/events/<%= event.id %>/pending"><%= event.pending_count %> pending requests</a>
                    <form action='/events/delete' method='post' class="form-horizontal" role="form">
                        <input type='hidden' name='event_id' value='<%= event.id %>'>
                        <input type='hidden' name='_method' value='delete'>
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <div class="form-group"> 
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-default">CANCEL EVENT</button>
                        </div>
                      </div>

                    </form>

                <% elsif event.pending_user(@user) or event.accepted_user(@user) %>

                <form action='/events/<%= event.id %>/leave' method='post' class="form-horizontal" role="form">
                    <input type='hidden' name='event_id' value='<%= event.id %>'>
                    <input type='hidden' name='_method' value='delete'>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <div class="form-group"> 
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-default">CANCEL ATTENDANCE</button>
                    </div>
                  </div>

                </form>

                <% else %>
                    <form action='/events/<%= event.id %>/join' method='post' class="form-horizontal" role="form">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <div class="form-group"> 
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-default">Ask to join event!</button>
                        </div>
                      </div>

                    </form>
                <% end %>
            </td>
            
        </tr>
    <% end %>
    </tbody>
  </table>

<h3>Hosted events</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Event Title</th>
        <th>Event Description</th>
        <th>Seats</th>
        <th>Attendees</th>
        <th>Event Time</th>
        <th>Location</th>
        <th>Actions</th>
        
      </tr>
    </thead>
    <tbody>
    <% @user.hosts.each do |event| %>
        <tr>
            <td><a href="/events/<%= event.id %>"><%= event.title %></a></td>
            <td><%= event.description %></td>
            <td><%= event.accepted_count %>/<%= event.seats %> seats filled</td>
            <td>
                <% event.accepted_list.each do |user| %>
                    <a href='/users/<%= user.id %>'><%= user.username %></a> 
                <% end %>
            </td>
            <td><%= event.date.strftime('%D') %> <%= event.time.strftime('%l:%m %p') %></td>
            <td>
            
                <%= event.city %> <%= event.state %>
            </td>
            <td>
            <% if event.user == @user %>
                    <form action="/events/<%= event.id %>" class="form-horizontal" role="form">
                    <div class="form-group"> 
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-default"><%= event.pending_count %> pending requests</button>
                        </div>
                      </div>
                    </form>
                    
                    <form action='/events/delete' method='post' class="form-horizontal" role="form">
                        <input type='hidden' name='event_id' value='<%= event.id %>'>
                        <input type='hidden' name='_method' value='delete'>
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <div class="form-group"> 
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-default">CANCEL EVENT</button>
                        </div>
                      </div>

                    </form>

                <% elsif event.pending_user(@user) or event.accepted_user(@user) %>

                <form action='/events/<%= event.id %>/leave' method='post' class="form-horizontal" role="form">
                    <input type='hidden' name='event_id' value='<%= event.id %>'>
                    <input type='hidden' name='_method' value='delete'>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <div class="form-group"> 
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-default">CANCEL ATTENDANCE</button>
                    </div>
                  </div>

                </form>

                <% else %>
                    <form action='/events/<%= event.id %>/join' method='post' class="form-horizontal" role="form">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <div class="form-group"> 
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-default">Ask to join event!</button>
                        </div>
                      </div>

                    </form>
                <% end %>
            </td>
            
        </tr>
    <% end %>
    </tbody>
  </table>

<h3>User Games</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Game Name</th>
        <th>Description</th>
        <th>Players</th>
        <th>Game Length</th>
        <% if session[:user_id] == @user.id %>
        <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @games.each do |game| %>
    	<tr>
    		<td><a href="/games/<%= game.id %>"><%= game.name %></a></td>
    		<td><%= game.description %></td>
    		<td><%= game.minplayers %>-<%= game.maxplayers %> players</td>
    		<td><%= game.length %></td>
    		<% if session[:user_id] == @user.id %>
    		<td>
    			
    				<form action='/users/removegame' method='post' class="form-horizontal" role="form">
						<input type='hidden' name='game_id' value='<%= game.id %>'>
						<input type='hidden' name='_method' value='delete'>
						<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					  <div class="form-group"> 
					    <div class="col-sm-10">
					      <button type="submit" class="btn btn-default">Remove</button>
					    </div>
					  </div>

					</form>
					
    		</td>
    		<% end %>
    	</tr>
	<% end %>
    </tbody>
  </table>




