<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p>User Description: <%= @user.description %></p>
<p>About <%= @user.first_name %>: <%= @user.about %></p>


<% if @user.id == session[:user_id] %>
	<a href='/users/<%= @user.id %>/edit'>Edit profile</a>
	
	
<% end %>