<h1>Hello <%= @user.first_name %></h1>

<p>User Description: <%= @user.description %></p>
<p>About <%= @user.first_name %>: <%= @user.about %></p>


<% if @user.id == session[:user_id] %>
	<% @user.addresses.each do |address| %>
	<h4>Address Title</h4>
	<p><%= address.street1 %></p>
	<p><%= address.street2 %></p>
	<p><%= address.city %></p>
	<p><%= address.state %></p>
	<p><%= address.zipcode %></p>
	<a href='/addresses/<%= address.id %>/edit'>Edit this address</a>
	<% end %>
	<a href='/users/<%= @user.id %>/edit'>Edit profile</a>
<% end %>