<h3>User Events</h3>
<% if @user %>
<form action='/events/new'>
    <button value='submit' class="btn btn-default">Make New Event</button>
</form>
<% end %>

<form action='/events' method='get' class="form-horizontal" role="form">


  <div class="form-group">
      <label class="control-label col-sm-2" for="state">Search for games nearby:</label>
      <div class="col-sm-2"> 
      <input type='text' name='search_location' placeholder="Enter a location" class="form-control">
      </div>

      <label class="control-label col-sm-1" for="state">Within:</label>
      <div class="col-sm-2"> 
      <select name="distance" class="form-control">
      <option value="5"></option>
      <% for dst in 1..20 %>
        <option value="<%= dst * 5 %>"><%= dst * 5 %> miles</option>
      <% end %>
      </select>
      </div>

      <button type="submit" class="btn btn-default">Search</button>
    </div>

  
</form>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Event Title</th>
        <th>Event Host</th>
        <th>Event Description</th>
        <th>Seats</th>
        <th>Games</th>
        <th>Event Time</th>
        <th>Location</th>
        <th>Actions</th>
        
      </tr>
    </thead>
    <tbody>
    <% @events.each do |event| %>
        <tr>
            <td><a href="/events/<%= event.id %>"><%= event.title %></a></td>
            <td><a href="/users/<%= event.user.id %>"><%= event.user.username %></a></td>
            <td><%= event.description %></td>
            <td><%= event.accepted_count %>/<%= event.seats %> seats filled</td>
            <td>
            <% event.games.each do |game| %>
    					<a href='/games/<%= game.id %>'><%= game.name %></a> 
    				<% end %>
            </td>
            <td><%= event.date.strftime('%D') %> <%= event.time.strftime('%l:%m %p') %></td>
            <td>
            
            <%= event.city %>, <%= event.state %>
            
            </td>
            <td>
           	<% if event.user == @user %>
           		<form action="/events/<%= event.id %>" class="form-horizontal" role="form">
                    <div class="form-group"> 
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-default"><%= event.pending_count %> pending requests</button>
                        </div>
                      </div>
                    </form>
                <form action='/events/delete' method='post' class="form-horizontal" role="form">
                    <input type='hidden' name='event_id' value='<%= event.id %>'>
                    <input type='hidden' name='_method' value='delete'>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <div class="form-group"> 
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-default">CANCEL EVENT</button>
                    </div>
                  </div>

                </form>

            <% elsif event.pending_user(@user) or event.accepted_user(@user) %>
                    
                <form action='/events/<%= event.id %>/leave' method='post' class="form-horizontal" role="form">
                    <input type='hidden' name='event_id' value='<%= event.id %>'>
                    <input type='hidden' name='_method' value='delete'>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <div class="form-group"> 
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-default">CANCEL ATTENDANCE</button>
                    </div>
                  </div>

                </form>
            <% elsif @user %>
                <form action='/events/<%= event.id %>/join' method='post' class="form-horizontal" role="form">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <div class="form-group"> 
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-default">Join event!</button>
                    </div>
                  </div>

                </form>
            <% end %>
                    
            </td>
            
        </tr>
    <% end %>
    </tbody>
  </table>
