
<h3><%= @game.name %></h3>
<img src='<%= @game.image %>' alt="Image of game">
<p>Game Length: <%= @game.length %></p>
<p><%= @game.minplayers %>-<%= @game.maxplayers %> players</p>
<p>Description: <%= @game.description %></p>
<p>About: <%= @game.about %></p>
